{{define "AllPosts"}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head"}}
    <title>{{.Title}}</title>

</head>

<body>
    {{template "header"}}
    <div class="uk-container">
        <div class="uk-card uk-card-body">
            <h3 class="uk-card-title uk-heading-divider">{{.Title}}<button onclick="newItem()" uk-icon="icon: plus"></button></h3>
            <ul class="uk-list uk-list-divider">
                {{ range $key, $value := .Data }}
                <li><strong>{{ $key }}</strong>: Название поста: <a href="/{{$value.Id}}">{{$value.Title}} </a><br> автор : {{$value.Author}}, время создания {{$value.CreatedAt}}<br>
                    <a href="/edit/{{$value.Id}}"> редактировать статью {{$value.Title}} </a> <br>

                    <form action="/delete/{{$value.Id}}" method="POST" name="del">
                        <button type="delete" id="xbutton">Delete</button>
                    </form>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>


    <script>
        function newItem() {
            alert("Событие создания нового поста")
        }

        function delItem() {
            alert("Удалить пост?")
        }
    </script>

    {{template "footer"}}
</body>

</html>
{{end}} {{define "head"}}
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" /> {{end}} {{define "header"}}
<header>
    <nav class="uk-navbar-container" uk-navbar>
        <a class="uk-navbar-item uk-logo" href="/">Список постов</a>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/create">Новый пост</a></li>
            </ul>
        </div>
    </nav>
</header>
{{end}} {{define "footer"}}
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
</footer>
{{end}}